@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.item {
  padding-bottom: $mobile-padding/2;

  &__name-link {
    display: flex;
    justify-content: space-between;
    @include tag-clickable;
    background-color: inherit;

    &:hover {
      background-color: #6a9c89;
    }

    &:hover .item__name,
    &:hover .item__amount {
      background-color: #6a9c89;
      color: $secondary-color-white;
    }
  }
}
