@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.list {
  &__heading-conatiner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
