@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header-container {
  padding: $mobile-padding;
  display: flex;
  justify-content: center;
  background-color: #16423C;

  &__logo {
    font-family: "Newsreader", Courier, monospace;
    color: $secondary-color-white;
    background-color: #16423C;
  }
}
